{% load static %}

   
<!-- Featured Products -->

<div class="small-container">
    <h2 class="title">Featured Products</h2>
    
    <div class="row">
        {% for product_chunks in featured_products %}
        <div class="col-4">
          
                <img src="{{ product_chunks.image.url }}" width="250px" height="250px">
            </a>
            <h4>{{ product_chunks.title }}</h4>
            <p>{{ product_chunks.price }}</p>
        </div>
        {% endfor %}
    </div>
   



    <h2 class="title">Latest Products</h2>



    
   
    <div class="row">
        {% for chunks in latest_products %}
        <div class="col-4">
           
                <img src="{{ chunks.image.url }}" width="250px" height="250px">
            </a>
            <h4>{{ chunks.title }}</h4>
            <p>{{ chunks.price }}</p>
        </div>
        {% endfor %}
    </div>
   
</div>